In [3]:
import scvelo as scv
import scanpy as sc
import numpy as np

In [4]:
# load dataset
anndata = scv.datasets.pancreatic_endocrinogenesis()
anndata

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 50.0M/50.0M [00:08<00:00, 6.40MB/s]

AnnData object with n_obs × n_vars = 3696 × 27998
    obs: 'clusters_coarse', 'clusters', 'S_score', 'G2M_score'
    var: 'highly_variable_genes'
    uns: 'clusters_coarse_colors', 'clusters_colors', 'day_colors', 'neighbors', 'pca'
    obsm: 'X_pca', 'X_umap'
    layers: 'spliced', 'unspliced'
    obsp: 'distances', 'connectivities'

In [5]:
# filter by counts of genes
min_counts_genes = 10
sc.pp.filter_genes(anndata, 
                   min_counts=min_counts_genes
)

# filter by counts of cell
# min_counts_cell = None
# sc.pp.filter_cells(anndata,
#                    min_counts=min_counts_cell
# )

# normalize counts
sc.pp.normalize_total(anndata)

# log1p transformation
# without log1p row sums are all equal, with log1p they slightly differ
sc.pp.log1p(anndata)

# get highly varaible genes (hvg)
n_hvg = 2400
sc.pp.highly_variable_genes(anndata, n_top_genes=n_hvg, subset=True)

In [6]:
anndata.X.toarray().sum(axis=1)

array([462.78717, 339.6714 , 439.14117, ..., 324.27844, 382.44965,
       471.09863], dtype=float32)

In [7]:
anndata.var

,highly_variable_genes,n_counts,highly_variable,means,dispersions,dispersions_norm
index,,,,,,
Sbspon,True,767.0,True,0.143064,0.277315,0.955128
Mcm3,True,1615.0,True,0.282309,0.514745,1.532715
Neurl3,True,31.0,True,0.007501,0.239100,0.764078
Creg2,False,10.0,True,0.003019,0.160805,0.372656
Fhl2,True,888.0,True,0.232534,0.818194,2.813627
...,...,...,...,...,...,...
Ap1s2,True,478.0,True,0.127904,0.319952,1.168286
Tmem27,True,9385.0,True,1.297930,2.476463,3.335991
Uty,False,69.0,True,0.018678,0.182476,0.480999
Ddx3y,True,675.0,True,0.165302,0.351228,1.324641
Eif2s3y,True,754.0,True,0.182692,0.318968,1.163366

In [8]:
# get full data matrix (includes zeros)
data = anndata.X.toarray()
for row in data[1:2]:
    print(row)
    print(row.nonzero())
    row.nonzero()

[0.        1.2886881 0.        ... 0.        0.        0.       ]
(array([   1,    5,    6,    9,   37,   41,   46,   52,   58,   59,   61,
         69,   87,  105,  118,  126,  134,  145,  152,  156,  166,  175,
        177,  178,  180,  187,  189,  194,  205,  212,  213,  214,  217,
        234,  241,  250,  253,  262,  277,  289,  291,  292,  297,  307,
        322,  340,  345,  347,  350,  351,  352,  357,  362,  376,  379,
        408,  410,  426,  434,  438,  447,  450,  454,  457,  461,  483,
        487,  491,  492,  493,  505,  512,  513,  514,  515,  516,  517,
        521,  536,  542,  543,  547,  548,  556,  567,  577,  587,  600,
        610,  618,  619,  629,  636,  638,  640,  648,  653,  665,  669,
        672,  673,  680,  688,  689,  696,  698,  708,  710,  716,  731,
        734,  736,  741,  755,  761,  772,  781,  786,  788,  790,  792,
        796,  809,  812,  818,  821,  835,  836,  851,  853,  859,  863,
        865,  874,  883,  884,  889,  891,  900,  918,  923,  933,  935,
        968,  971,  976,  982,  991, 1010, 1018, 1019, 1034, 1046, 1048,
       1050, 1051, 1058, 1060, 1065, 1078, 1079, 1099, 1102, 1105, 1113,
       1116, 1142, 1145, 1146, 1152, 1160, 1163, 1165, 1172, 1175, 1177,
       1184, 1201, 1204, 1214, 1217, 1221, 1234, 1240, 1246, 1248, 1254,
       1257, 1262, 1267, 1278, 1282, 1286, 1291, 1296, 1307, 1308, 1315,
       1318, 1322, 1328, 1334, 1342, 1352, 1355, 1356, 1358, 1363, 1377,
       1382, 1383, 1384, 1393, 1412, 1415, 1423, 1424, 1431, 1446, 1450,
       1458, 1461, 1466, 1472, 1477, 1485, 1489, 1491, 1495, 1506, 1509,
       1514, 1519, 1538, 1554, 1562, 1563, 1573, 1574, 1578, 1589, 1595,
       1597, 1603, 1606, 1607, 1609, 1611, 1651, 1659, 1664, 1671, 1676,
       1680, 1689, 1703, 1704, 1710, 1711, 1732, 1754, 1756, 1758, 1767,
       1772, 1773, 1795, 1796, 1809, 1815, 1838, 1843, 1850, 1853, 1854,
       1858, 1870, 1881, 1884, 1891, 1904, 1905, 1907, 1912, 1921, 1923,
       1925, 1928, 1944, 1948, 1952, 1954, 1996, 2001, 2002, 2004, 2009,
       2011, 2027, 2044, 2052, 2055, 2060, 2064, 2067, 2074, 2076, 2079,
       2087, 2091, 2094, 2100, 2112, 2114, 2121, 2129, 2133, 2140, 2145,
       2146, 2164, 2173, 2179, 2193, 2196, 2198, 2211, 2225, 2226, 2227,
       2229, 2231, 2237, 2240, 2242, 2253, 2254, 2259, 2261, 2263, 2269,
       2303, 2306, 2313, 2324, 2327, 2334, 2347, 2353, 2354, 2370]),)

In [9]:
data[1:5].shape

(4, 2400)