In [15]:
import numpy as np
import json
import pandas as pd

In [16]:
hvgs = np.load('../data/pbmc_hvgs.npy', allow_pickle=True)
celltypes = np.load('../data/pbmc_celltypes.npy', allow_pickle=True)
ncells = np.load('../data/pbmc_ncells.npy', allow_pickle=True)

In [9]:
with open('../data/pbmc_vocab.json', 'r') as f:
    vocab = json.load(f)

In [13]:
pbmc_hvg = list(vocab.keys())[1:]

In [25]:
df = pd.DataFrame({'celltype' : celltypes, 'ncells': ncells})
idx_small_clusters = df[df.ncells < 1000].index.values

In [30]:
for idx in idx_small_clusters:
    inter = set(hvgs[idx]).intersection(set(pbmc_hvg))
    print(len(inter))

54
50
87
62
61
73

In [32]:
df[df.ncells < 5000]

                             celltype  ncells
0                         erythrocyte     290
1                            platelet    1810
2                      dendritic cell     181
4     CD4-positive, alpha-beta T cell     773
5     CD8-positive, alpha-beta T cell     305
6         plasmacytoid dendritic cell    1897
21                        plasmablast    3754
22        conventional dendritic cell    4570
24               innate lymphoid cell     444
26          double negative thymocyte    1824
27       hematopoietic precursor cell    1812
28  peripheral blood mononuclear cell     131

In [33]:
u =  set()
for i in [2, 4, 6]:
    print(len(hvgs[i]))
    u = u.union(set(hvgs[i]))

200
200
200

In [34]:
print(len(u))

528